/* You can add global styles to this file, and also import other style files */
.badge-info{
    background-color: #269abc;
    min-width: 28px;
}
h1.title{
    color: #999;
}
h1.title span{
    color: #68cc79;
}
.grocery-list li{
    padding-bottom: 18px;
}
.item-remove{
    padding-bottom: 6px;
}